{% extends "base_generic.html" %}

{% block content %}
    <h1>Ticket page</h1>

    {% if ticket %}
      <ul>
          <li>Row: {{ ticket.row }}</li>
          <li>Seat number: {{ ticket.seat_num }}</li>
      </ul>
      {% if viewer_has_ticket %}
        <h4>You already have this ticket. <a href="{% url 'ticket' %}?id={{ ticket.id }}"> Show it!</a></h4>
      {% else %}
        <h4>You do not have this one. You can <a href="{% url 'purchase' %}?id={{ ticket.id }}">buy it.</a></h4>
      {% endif %}
    {% else %}
      <p>Ticket not found..</p>
    {% endif %}
{% endblock %}

