{% extends "base_generic.html" %}

{% block content %}
    {% if form_errors %}
        <h4>Form fields got some errors: </h4>
        {% for key,value in form_errors.items %}
            {{ key }}: {{ value}}

        {% endfor %}
    {% endif %}
    {% if request.user.is_autenticated %}
        <h5>
            You are aleady logged in.
            Check out our <a href="{% url 'events' %}">events</a>! 
        </h5>
    {% else %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Register">
    </form>
    {% endif %}
{% endblock %}